body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#video-frame {
    width: calc(90vmin + 5rem);
    height: calc(50.625vmin + 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 20px 1px black;
}
video {
    width: 100%;
    cursor:pointer;
}
#controls-frame {
    display:flex;
    flex-direction: column;
    justify-content: center;
    position:absolute;
    bottom: 0;
    height: 67px;
    width: 96.79%;
}
#progressbar-container {
    height:11px;
    overflow:hidden;
    background-color: transparent;
    cursor:pointer;
    animation: 350ms delay-overflow-hidden
}
#progressbar {
    height: 11px;
    transform:translateY(8px);
    cursor: pointer;
    transition: transform ease 300ms;
}
#progressbar-container:hover {
    animation: 350ms delay-overflow-visible forwards;
}
@keyframes delay-overflow-visible {
    from { overflow: hidden; }
    to {overflow: visible}
}
@keyframes delay-overflow-visible-hidden {
    from { overflow: visible; }
    to {overflow: hidden}
}
#progressbar-container:hover #progressbar {
    transform:translateY(0);
    transition: transform ease 300ms;
}
#progress-buffered {
    width: 90%;
    height: inherit;
    position: absolute;
    top: 0;
}
#progress-value {
    width: 0%;
    height: inherit;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
}
#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 1.4vw;
}
div .control-icons {
    font-size: clamp(20px, 5vw, 33px);
}
#time {
    font-size: clamp(10px, 5vw, 18px);
}
#playback-controls {
    width: 100%;
    max-width: 255px;
}
#playback-controls:hover {
    max-width: 375px;
}
#volume-position-range {
    right:0;
    bottom: 0;
    cursor:pointer;
}
.disabled {
    opacity: 0.5;
    cursor: default;
}
/* @keyframes grow-width-153 {
    to {
        width: 153px
    }
} */
#playback-controls:hover #volume-controler {
    width: 153px;
    cursor:default;
}
#playback-controls:hover #volume-control-slider {
    animation: 200ms width-100 forwards;
    display:block;
}
@keyframes width-100 {
    from {
        width: 0;

    }
    to {
        width: 100px;
    }
}
#volume-control-slider {
    display:none;
    animation: 200ms width-0;
    left: 20px;
    max-width: 100px;
}
#volume-value {
    background-color: var(--primary-color);
    width: 20%;
    height: 5px;
    position: relative;
    max-width: 100px;
    min-width: 5px;
}
#volume-value-indicator {
    background-color: white;
    width: 5px;
    height: 18px;
    position: absolute;
    right: 0;
    transform: translateY(calc(-50% + 2px));
}
#other-controls {
    width: 100%;
    max-width: 153px;
}
#playback-controls, #other-controls {
    display: flex;
    justify-content: space-between;
}
#time {
    display: flex;
    justify-content: center;
    align-items: center;
}
#playback-controls > *:not(#time), #other-controls > * {
    display: flex;
    align-items: center;
    cursor: pointer;
}
#current-time-indicator {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    background-color: white;
    opacity: 0;
    cursor: pointer;
    transform: translateX(50%)
}
#progressbar-container:hover #current-time-indicator {
    opacity: 1;
    transition: opacity ease 300ms; 
}
#volume-controler > div {
    position: relative;
}
#volume-control-slider {
    /* width: 100px; */
    height: 5px;
    background-color: black;
    position: absolute;
}
input[type="range"] {
    width: 100%; 
    height: 100%; 
    z-index:1; 
    position: absolute; 
    top:0;
    opacity:0;
}
/* Settings */ 
#settings-button {
    z-index:1; 
}
#settings-pannel {
    display: none;
    height: 124px;
    width: 188px;
    position: absolute;
    bottom: 67px;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    z-index: 1;
}
.pannel-row {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    /* Typography */
    font-family: Arial, Helvetica, sans-serif;
    line-height: 34px;
}
.pannel-header {
    border-bottom: solid 2px #C4C4C4;
}
.pannel-row .font-14 {
    font-size: 14px;
}
.pannel-row .font-12 {
    font-size: 12px;
}
.no-pointer {
    cursor: initial;
}
#volume-controler .d-none {
    display: none;
}
#play-button .d-none {
    display: none;
}
#play-button .d-inline {
    display: inline-block;
}
.secondary-settings-pannel {
    display:none;
    height: 217px;
    width: 124px;
    position: absolute;
    bottom: 67px;
    right: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    z-index: 2;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.padding-1 {
    padding: calc(0.5vw + 0.1rem);
}

.toggleAutoplay {
    width: 20px;
    height: 12px;
    cursor:pointer;
    border-radius: 12px;
    position: relative;
    display: flex;
    align-items: center;
}
.toggleAutoplay .pellet {
    width:10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
}
.toggleAutoplay .pellet.autoplay-true {
    right: 0;
}
/* Colors */ 

:root {
    --primary-color: rgba(255, 163, 26, 1);
    --secondary-color: rgba(27, 27, 27, 1);
    --ternary-color: rgba(41, 41, 41, 1);
    --quaternary-color: rgba(128, 128, 128, 1);
}

body {
    background-color: var(--ternary-color)
}
#video-frame {
    background-color: var(--secondary-color);
}
#controls {
    background: linear-gradient(180deg, rgba(41, 41, 41, 0.2) 0.52%, rgba(0, 0, 0, 0.4) 100%);
}
#progressbar {
    background-color: var(--ternary-color);
}
#progress-buffered {
    background-color: var(--quaternary-color);
}
#progress-value {
    background-color: var(--primary-color);
}
div .control-icons, #time {
    color: white;
}
#settings-pannel, .secondary-settings-pannel {
    background-color: black;
    color: white;
}
.toggleAutoplay {
    background-color: var(--ternary-color);
}
.toggleAutoplay.autoplay-true {
    background-color: var(--primary-color);
}
.toggleAutoplay .pellet {
    background-color: white;
}

@media screen and (max-width: 500px) {
    #volume-controler > *{
       display: none; 
   }
   #playback-controls:hover #volume-controler {
       display: none;
   }
   #playback-controls {
       width: 50%;
   }
   #other-controls {
       width: 40%;
   }
   #skip-next > *{
       display:none;
   }
}